
*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: aquamarine;
    height: 70px;
    width: 100%;
}

label.logo{
    color: white;
    font-family: 35;
    line-height: 80px;
    padding: 0 70px;
    font-weight: bold;
}

nav ul{
    float:right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
}