<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
    <title>css and extended</title>
</head>
<body>
   <nav>
      <label class="logo" for="">Flask</label>
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Data Siswa</a></li>
      </ul>
   </nav>
</body>
</html>