<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .judul{
            color: aqua;
            font-size: 35px;
            margin: auto;
            margin-top: 20px;}
    </style>
    <title>Document</title>
</head>
<body>
    <h2 class="judul">ini berada pada halaman home.html</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo mollitia provident fugit, aut eius illo, 
        dicta eligendi inventore praesentium
        officiis fuga voluptatum eaque odit numquam possimus molestias at. Illo, ut!
    </p>
</body>
</html>